.txt-white {
  color: white !important;
}

.card {
  background-color: #858AA8;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.card h4 {
  font-family: 'Megrim';
  font-weight: 800;
}

.card h3 {
  font-family: 'Baloo Thambi 2';
  color: white;
  font-weight: 600;
}

card p {
  font-family: 'Baloo Thambi 2';
}

.card-body p {
  font-size: 18px;
}

.card-body ul {
  font-size: 18px;
}

.card-body ul a {
  color: #ffb64d;
}

.card-img-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 10px 31px #00000042;
}

.card-bottom {
  margin-bottom: 15px;
}

.bg-opacity {
  background: #FFFFFF4F 0% 0% no-repeat padding-box;
  box-shadow: 13px 12px 12px #17244880;
}

body {
  background: linear-gradient(#172448cf, #0f172de5 27%, #05070e);
  font-family: 'Baloo Thambi 2';
}

.img-pic-icn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#contact-form textarea {
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 10px;
  color: #B4B4B4;
}

#contact-form input {
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 10px;
  color: #B4B4B4;
}

#contact-form button {
  border-radius: 20px;
  padding: 10px 35px;
  margin-bottom: 10px;
  font-family: 'Megrim';
  font-weight: 600;
}

@media (min-width: 990px) {
  .main {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 576px) {
  .main-img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 10px 0px 20px 0px rgba(68,68,68,0.85);
    width: 40%;
  }
}

@media (max-width: 370px) {
  .main-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0px 11px 14px 0px rgba(65,65,65,0.61);
  }
}

